<footer class="footer">
    <article class="information">
        <section class="section">
            <h4 class="information__header pretty">Наследие</h4>
            <p class="information__text restaurant">Бар</p>
            <div class="icons-wrapper">
                <a href="https://www.facebook.com"><img class="icon" src="../img/facebook.png" alt=""></a>
                <a href="https://www.instagram.com"><img class="icon" src="../img/instagram.png" alt=""></a>
                <a href="https://www.twitter.com"><img class="icon" src="../img/twitter.png" alt=""></a>
            </div>
        </section>
        <section class="section">
            <h3>Время работы</h3>
            <p class="information__text">ПН — ВС<br>
                18:00 — 06:00</p>
        </section>
        <section class="section">
            <h3>Адреса</h3>
            <p class="information__text">г. Екатеринбург <br>
                ул. Тургенева, 4 <br>
                ул. Мира, 17</p>
        </section>
        <section class="section">
            <h3>Контакты</h3>
            <a href="tel:+79991329750"
                class="contacts__information information__text">+7 (999) 132-97-50</a>
            <br>
            <a href="mailto:vadim.ganiev25@mail.ru"
                class="contacts__information information__text">vadim.ganiev25@mail.ru</a>
        </section>
    </article>
    <div class="end">
        <p class="end__text information__text">&copy; 2025 Наследие. Все права наверняка защищены.</p>
    </div>
</footer>