<header class="header">
    <div class="company-logo">
        <a href="/"><img src="../img/logo_negate.png" width="30%" alt="Heritage"></a>
    </div>
    <nav class="navigation">
        <a class="navigation__content" href="/">Главная страница</a>
        <a class="navigation__content" href="/menu">Меню</a>
        <a class="navigation__content" href="/reservation">Забронировать стол</a>
        <a class="navigation__content" href="/profile">Профиль</a>
    </nav>
    <div class="burger">
        <div class="hr-wrapper">
            <hr class="burger__hr">
            <hr class="burger__hr">
            <hr class="burger__hr">
        </div>
    </div>
</header>