<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Heritage</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/header.css">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
        <link rel="stylesheet" type="text/css" href="../css/fonts.css">
        <link rel="stylesheet" type="text/css" href="../css/menu.css">
        <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>

        <div class="menu" id="menu">
            <h3 class="content-header__center content-header pretty">Меню</h3>
            <h2 class="content-header-main content-header__center">Алкогольные коктейли</h2>
            <div class="cards-wrapper">

                <div class="card">
                    <img class="card__img" src="img/ne_vernu.jfif" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Верните мне июль</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;600</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/sadovod.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Садовод</h4>
                        <h4 class="card__category">0.33</h4>
                        <h4 class="card__price">&#8381;600</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/operation_drink.jfif" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Операция пЫть</h4>
                        <h4 class="card__category">0.33</h4>
                        <h4 class="card__price">&#8381;600</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/shalost_upilas.jfif" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Шалость упилась</h4>
                        <h4 class="card__category">0.35</h4>
                        <h4 class="card__price">&#8381;600</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/17over12.jfif" alt="">
                    <div class="card__text">
                        <h4 class="card__name">17/12</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;600</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/tropic.jpg" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Tropic</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;350</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/cherry.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Cherry</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;350</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/Blackberry.jpg" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Blackberry</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;350</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/jungle_ipa.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Jungle IPA</h4>
                        <h4 class="card__category">0.3</h4>
                        <h4 class="card__price">&#8381;350</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/apa.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">APA 5,5%</h4>
                        <h4 class="card__category">0.45 (бут.)</h4>
                        <h4 class="card__price">&#8381;450</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/witbier.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Witbier 5%</h4>
                        <h4 class="card__category">0.45 (бут.)</h4>
                        <h4 class="card__price">&#8381;450</h4>
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/stout.jpg" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Stout</h4>
                        <h4 class="card__category">0.45 (бут.)</h4>
                        <h4 class="card__price">&#8381;450</h4>
                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer.ejs") %>
        <script src="../js/main.js"></script>
    </body>
</html>